.contact-btn {
    border: none;
    border-radius: 30px;
    background: #2f6ae0 !important;
    color: #ffffff98 !important;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: none !important;
    transition: all 0.3s ease;
    border-radius: 30px !important;
}

.contact-btn:hover {
    /* border-radius: 20px !important; */
    color: #fff !important;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}

.contact-btn:active {
    transform: scale(0.96);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.15);
}